.CVContainer {
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 128, 128, 0.1);    
}

.topInfo {
    display: flex;
    flex-direction: column;
    border: 3px solid teal;
    width: 95.9%;
    padding: 20px;
}

.CVLogoDiv {
    background-color:rgba(0, 128, 128, 0);
    margin-bottom: 30px;
}

.CVReactLogo, .CVHTMLLogo, .CVCSSLogo, .CVJSLogo, .CVBootstrapLogo {
    width: 40px;
    height: 40px;
    background-color:rgba(0, 128, 128, 0);
    margin-left: 5px;
    margin-right: 5px;
}

.topInfoText {
    margin-bottom: 20px;
}

.personalStatement {
    display: flex;
    flex-direction: column;
    width: 95.9%;
    padding-top: 15px;
    border: 3px solid teal;
    padding: 20px;
}

.personalStatementText {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}

.spanText {
    margin-bottom: 15px;
}

.knowledge {
    display: flex;
    flex-direction: column;
    width: 95.9%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid teal;
    padding: 20px;
}


.knowledgeText {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}

.professionalExperience {
    display: flex;
    flex-direction: column;
    width: 95.9%;
    padding-top: 15px;
    border: 3px solid teal;
    padding: 20px;
}

.professionalExperienceText {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}

.jobTitle {
    font-weight: 600;
}

.companyTime {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
}

.company {
    font-weight: 600;
}

.jobDate {
    margin-left: 7px;
}

.jobList {
    margin-bottom: 5px;
}

.jobDescription {
    margin-bottom: 15px;
    margin-top: 15px;
}

.jobDescriptionContainer {
    border: 3px solid teal;
    width: 95.9%;
}

.CVOptions {
    width: 100%;
}

.CVOptionsButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CVButton {
    width: auto;
    cursor: pointer;
    height: 30px;
    border-top-right-radius: 8px;
    border: 3px solid teal;
    background-color: rgba(0, 128, 128, 0.2);
    color: teal;
    font-weight: 600;
    border-bottom: none;
}

.educationDiv {
    border: 3px solid teal;
    width: 95.9%;
    text-align: start;
    padding: 20px;
}

.references {
    border: 3px solid teal;
    width: 95.9%;
    text-align: start;
    padding: 20px;
}